

*.a

*.acy
*.atsuo
*.avrsuo
*.aws
*.cfg

*.d
*.dep
*.depend
*.eep
*.elf
*.exe
*.hex
*.i
*.layout
*.log
*.lss
*.lst
*.map
*.o
*.obj
*.srec
*.suo
*.sym
*.tmp
*.zip
*.bin
*.shadow
AvrBuild.bat
AVRootloader.dev


# Created by https://www.gitignore.io/api/mercurial,vim,osx,windows

### Mercurial ###
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk